# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# VS Code
.vscode/

# Data (we keep only small samples / metadata on GitHub)
data/runway/
data/street/
data/social_manual/images/

# Generated data files (large ML artifacts)
data/*.npy
data/*.csv
data/*.pkl
data/*.h5

# But allow small metadata files:
!data/runway/.gitkeep
!data/street/.gitkeep
!data/social_manual/metadata.csv
